.primerHeader {
  height: 80vh;
  background-image: url("../img/hero.jpg");
  background-position: center center;
  background-size: cover;
  padding: 2rem; }
  .primerHeader .centro {
    grid-area: centro;
    text-align: center;
    font-size: 1.4rem;
    margin: 8rem; }
    .primerHeader .centro .frase p {
      color: white; }
    .primerHeader .centro .botonContacto button {
      padding: 1.2rem 1rem;
      margin: 1rem;
      border: none;
      background-color: #F89953;
      color: #fffefe; }
    .primerHeader .centro .botonContacto:hover {
      transform: scale(1.1); }

.segundoHeader {
  background-color: #F89953;
  padding: 1rem; }
  .segundoHeader h1 {
    font-size: 2.2rem; }
  .segundoHeader h2 {
    font-size: 1.8rem; }

.mainInicio .imgPresentacion {
  display: flex;
  justify-content: center; }
  .mainInicio .imgPresentacion img {
    width: 20rem;
    margin-top: 1.5rem;
    border-radius: 3%; }

.mainInicio .textoInicio p {
  margin: 1rem;
  font-size: 1.5rem; }

.sobreMi h3 {
  color: #F89953;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem; }

.sobreMi .imgSobreMi img {
  width: 25rem;
  margin: 2rem; }

.sobreMi .presentacionPersonal p {
  margin: 2rem; }

.sobreMi .imgPresentacionTrabajo img {
  width: 25rem;
  margin: 2rem; }

.sobreMi .presentacionPersonal p {
  margin: 2rem; }

.testimoniosSection h3 {
  color: #F89953;
  font-size: 2rem;
  text-align: center; }

.testimoniosSection .testimonios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  padding: 1.5rem;
  background-color: #ffffff; }
  .testimoniosSection .testimonios img {
    width: 15rem;
    border-radius: 50%;
    margin: 1rem; }
  .testimoniosSection .testimonios blockquote {
    text-align: center; }

.servicios {
  margin: 1rem;
  padding: 1rem;
  background-color: #ffffff; }
  .servicios img {
    width: 30rem;
    border-radius: 3%; }
  .servicios p {
    width: 30rem; }
  .servicios h3 {
    color: #F89953;
    padding: 1rem; }

.entradaBlog {
  margin: 2rem;
  border: .2rem solid;
  border-color: #e4e0e0;
  width: 30rem; }
  .entradaBlog .imgBlog {
    width: 100%; }
  .entradaBlog p {
    padding: 1rem; }
  .entradaBlog h3 {
    margin: 1rem;
    color: #F89953; }

.entradaBlog:hover {
  transform: scale(1.1); }

.contacto {
  width: 100%; }
  .contacto .contactoTextoImagen {
    padding: 2rem;
    text-align: center; }
    .contacto .contactoTextoImagen h3 {
      color: #F89953;
      margin-bottom: 2rem; }
    .contacto .contactoTextoImagen .imgContacto img {
      margin: 2rem;
      width: 90%; }
  .contacto .formulario form {
    padding: 1.2rem;
    display: flex;
    flex-direction: column; }
    .contacto .formulario form input {
      padding: 1.2rem 2rem;
      margin: .8rem 0;
      display: inline-block;
      border: .2rem solid #ccc;
      border-radius: .4rem;
      box-sizing: border-box;
      margin-bottom: 2rem; }
    .contacto .formulario form input[type=submit] {
      background-color: #F89953;
      color: white;
      padding: 1.4rem 2rem;
      margin: .8rem 0;
      border: none;
      border-radius: .4rem;
      cursor: pointer; }
    .contacto .formulario form .submit:hover {
      transform: scale(1.1); }
  .contacto .formulario textarea {
    margin-top: 2rem;
    width: 100%;
    height: 20rem;
    text-align: end; }

.footer {
  background: #F89953; }
  .footer p {
    color: #ffffff;
    font-size: 1.4rem; }

@media only screen and (max-width: 599px) {
  .topnav {
    overflow: hidden;
    position: relative; }
  .topnav #myLinks {
    display: none; }
    .topnav #myLinks ul {
      text-align: center; }
  .topnav a {
    color: white;
    padding: 1rem 1.2rem;
    text-decoration: none;
    font-size: 1.2rem;
    display: block; }
  .topnav .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0; }
  .topnav a:hover {
    color: black; }
  .active {
    color: white; } }

@media only screen and (min-width: 600px) and (max-width: 991px) {
  #desplegable {
    display: none; }
  .navegacion ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between; }
  #flexHeader {
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse; }
    #flexHeader a {
      padding: 2rem;
      font-size: 1.2rem; }
  .centro .frase {
    font-size: 2.5rem; }
  .centro .botonContacto p {
    font-size: 1.5rem; }
  .mainInicio .imgPresentacion img {
    width: 35rem;
    margin: 5rem; }
  .textoInicio p {
    margin: 3rem; }
  .flexSobreMi {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .flexSobreMi .imgSobreMi img {
      width: 50rem; }
    .flexSobreMi .imgPresentacionTrabajo img {
      width: 50rem; }
  .contenedorTestimonios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .contenedorTestimonios .testimonios {
      width: 30rem;
      padding: 8rem; }
  /*Seccion Servicios*/
  .servicios img {
    width: 50rem; }
  .servicios p {
    width: 50rem; }
  /*Seccion Blog*/
  .mainBlog {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainBlog .entradaBlog {
      width: 40rem; }
  .formulario {
    padding: 6rem; }
  .footer {
    height: 5rem; }
    .footer p {
      padding-top: 1rem;
      margin-left: 2rem; } }

@media only screen and (min-width: 992px) {
  #desplegable {
    display: none; }
  #flexHeader {
    display: flex;
    justify-content: space-between; }
    #flexHeader li {
      margin: 1.2rem; }
    #flexHeader ul {
      display: flex;
      flex-direction: row;
      width: 100%; }
  .centro .frase {
    font-size: 2.8rem; }
  .mainInicio {
    display: flex;
    padding: 10%; }
    .mainInicio .imgPresentacion img {
      width: 45rem;
      width: 40rem;
      display: block;
      margin-left: 2rem; }
    .mainInicio .textoInicio {
      display: flex;
      align-items: center;
      padding: 5%; }
      .mainInicio .textoInicio p {
        width: 80%; }
  .sobreMi {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem; }
    .sobreMi .grillaSobreMi {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      grid-template-areas: "imgPresentacion textoPresentacion" "textoTrabajo imgTrabajo"; }
      .sobreMi .grillaSobreMi .imgSobreMi {
        display: block;
        grid-area: imgPresentacion;
        padding: 2rem;
        width: 50rem; }
        .sobreMi .grillaSobreMi .imgSobreMi img {
          width: 80%; }
      .sobreMi .grillaSobreMi .presentacionPersonal {
        grid-area: textoPresentacion;
        padding-top: 4rem;
        width: 50rem; }
      .sobreMi .grillaSobreMi .imgPresentacionTrabajo {
        display: block;
        grid-area: imgTrabajo;
        padding: 2rem;
        width: 50rem; }
        .sobreMi .grillaSobreMi .imgPresentacionTrabajo img {
          width: 80%; }
      .sobreMi .grillaSobreMi .presentacionTrabajo {
        grid-area: textoTrabajo;
        padding: 2rem;
        width: 45rem; }
  .testimoniosSection .contenedorTestimonios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .testimoniosSection .testimonios {
    width: 30rem;
    padding: 8rem; }
  .contenedorServicios {
    padding: 1.5rem; }
  .servicios {
    display: flex;
    justify-content: space-evenly; }
    .servicios img {
      width: 40%; }
    .servicios .textoServicios {
      display: flex;
      align-items: center;
      justify-content: center; }
      .servicios .textoServicios .flexTexto {
        display: flex;
        flex-direction: column; }
        .servicios .textoServicios .flexTexto h3 {
          padding: 1rem; }
  .mainBlog {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .mainBlog .entradaBlog {
      width: 55rem; }
  /*seccion Contacto*/
  .contacto {
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .contacto .contactoTextoImagen .imgContacto img {
      width: 50rem; }
    .contacto .contactoTextoImagen .imgContacto img {
      width: 50rem; }
    .contacto .formulario {
      padding: 4rem; }
  .footer footer {
    height: 4rem; }
    .footer footer p {
      padding-top: 1rem;
      padding-left: 2rem; } }

html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

body {
  font-size: 1.6rem;
  font-family: 'Lora', serif;
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9; }

a {
  text-decoration: none;
  color: white; }

li {
  list-style: none; }

p {
  font-family: 'Lora', serif;
  font-size: 500; }

h1 {
  font-family: 'Montserrat', sans-serif; }

h2 {
  font-family: 'Montserrat', sans-serif; }

h3 {
  font-family: 'Montserrat', sans-serif; }
