.entradaBlog{
    margin: 2rem;
    border: .2rem solid;
    border-color: rgb(228, 224, 224);
    min-width: 25rem;
    .imgBlog{
        width: 100%;
    }
    p{
        padding: 1rem;
    }
    h3{
        margin: 1rem;
        color: $color;
    }
   
}
.entradaBlog:hover {
    transform: scale(1.1);
}

