//primer header
.primerHeader{
    height: 80vh;
    background-image: url('../img/hero.jpg');
    background-position: center center;
    background-size: cover;
    padding: 2rem;
    .centro{
        grid-area: centro;
        text-align: center;
        font-size: 1.4rem;
        margin: 0.8rem;

        .frase{
            p{
            color: rgb(255, 255, 255);
            }
        }
        .botonContacto{
                button{
                padding: 1.2rem 1rem;
                margin: 1rem;
                border: none;
                background-color: $color;
                color: rgb(255, 254, 254);
                
            }
        }
        .botonContacto:hover{
            transform: scale(1.1);
        }
    }
}

//segundo header
.segundoHeader{
    background-color: $color;
    padding: 1rem;
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.8rem;
    }
    
}