$color: #F89953;
.mainInicio{
    .imgPresentacion{
        display: flex;
        justify-content: center;

        img{
            width: 20rem;
            margin-top: 1.5rem;
            border-radius: 3%;
        }
    }
    .textoInicio{
        p{
            margin: 1rem;
            font-size: 1.5rem;
        }
    }
}