$color: #F89953;
.mainInicio{
    .imgPresentacion{
        display: flex;
        justify-content: center;

        img{
            width: 200px;
            margin-top: 15px;
            border-radius: 3%;
        }
    }
    .textoInicio{
        p{
            margin: 10px;
            font-size: 15px;
        }
    }
}