@media only screen and (max-width:599px){
  .topnav {
      overflow: hidden;
      position: relative;
  }
    
  .topnav #myLinks {
    display: none;
    ul{
      text-align: center;
    }
  }
    
  .topnav{
    a{
      color: white;
      padding: 1rem 1.2rem;
      text-decoration: none;
      font-size: 1.2rem;
      display: block;
    }
    .icon {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .topnav a:hover {
    color: black;
  }
    
  .active {
    color: white;
  }
}
@media only screen and (min-width:600px) and (max-width:991px){
  #desplegable{
    display: none;
  }

  .navegacion{
    ul{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
  }
      
  #flexHeader{
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;

    a{
      padding: 2rem;
      font-size: 1.2rem;
    }
  }

  .centro{
    .frase{
      font-size: 2.5rem;
    }
    .botonContacto{
      p{
        font-size: 1.5rem;
      }
    }
  }
  .mainInicio{
    .imgPresentacion{ 
      img {
          width: 35rem;
          margin: 5rem;
      }
    }
  }

  .textoInicio{
    p{
       margin: 3rem;
    }
  }
  //seccion sobre mi presentacion
  .flexSobreMi{
    display: flex;
    flex-direction: column;
    align-items: center;

    .imgSobreMi {
      img{   
        width: 50rem;
      }
    }
    .imgPresentacionTrabajo{
      img{
        width: 50rem;
      }
    }
  }
  //testimonios

  .contenedorTestimonios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .testimonios{
      width: 30rem;
      padding: 8rem;
    }

  }
  
  /*Seccion Servicios*/
  .servicios{
    img {
      width: 50rem;
    }
    p {
      width: 50rem;
    }
  }

  /*Seccion Blog*/
  .mainBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    .entradaBlog{
      width: 40rem;
    }
  }
  //seccion contacto
  .formulario{
    padding: 6rem;
  }

  .footer{
    height: 5rem;
    p{
      padding-top: 1rem;
      margin-left: 2rem;
    }
  }

}

@media only screen and (min-width:992px){
  #desplegable{
    display: none;
  }
  #flexHeader{
    display: flex;
    justify-content: space-between;
    li{
      margin: 1.2rem;
    }
    ul{
      display: flex;
      flex-direction: row;
      width: 100%;
    }  
  }
  .centro{
    .frase{
    font-size: 2.8rem;
    }
  }
   
  .mainInicio{
    display: flex;
    padding: 10%;

    .imgPresentacion{
      img{
        width: 45rem;
        width: 40rem;
        display: block;
        margin-left: 2rem;
      }
    }
    
    .textoInicio{
      display: flex;
      align-items: center;
      padding: 5%;
      p{
        width: 80%;  
      }
    }
    
  }
    //sobre mi
  .sobreMi{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem; 

    .grillaSobreMi{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      grid-template-areas: "imgPresentacion textoPresentacion"
                            "textoTrabajo imgTrabajo";
    
      .imgSobreMi{
        display: block;
        grid-area: imgPresentacion;
        padding: 2rem;
        width: 50rem;
        img{
          width: 80%; 
        }
      }
      .presentacionPersonal{
        grid-area: textoPresentacion;
        padding-top: 4rem;
        width: 50rem;
      }
      .imgPresentacionTrabajo{
        display: block;
        grid-area: imgTrabajo;
        padding: 2rem;
        width: 50rem;
        img{
          width: 80%;
        }
      }
      .presentacionDelTrabajo{
        grid-area: textoTrabajo;
        padding: 2rem;
        width: 45rem;
      }
    }
  }

  .testimoniosSection{
    .contenedorTestimonios{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
 
    .testimonios{
      width: 30rem;
      padding: 8rem;
    }
  }
  

  //seccion servicios
  .contenedorServicios{
    padding: 1.5rem;
  }
  .servicios{
    display: flex;
    justify-content: space-evenly;

    img {
      width: 40%;
    }
    .textoServicios{
      display: flex;
      align-items: center;
      justify-content: center;
      .flexTexto{
        display: flex;
        flex-direction: column;
        h3{
          padding: 1rem;
        }
      }
    }
  }
  .mainBlog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .entradaBlog{
      width: 55rem;
    }
  }
  
  /*seccion Contacto*/
  .contacto{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .contactoTextoImagen{
      .imgContacto{
        img{
          width: 50rem;
        }
      }
      .imgContacto{
        img{
          width: 50rem;
        }
      }
    }
    
    .formulario{
      padding: 4rem;
    }
  }
  .footer{
    footer{
      height: 4rem;

      p{
        padding-top: 1rem;
        padding-left: 2rem
      }
    }
  }

}










