.servicios{
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;

    img{
        width: 300px;
        border-radius: 3%;
    }
    p{
        width: 300px;
    }
    h3{
        color: #F89953;
        padding: 10px;
    }
}