.servicios{
    margin: 1rem;
    padding: 1rem;
    background-color: #ffffff;

    img{
        width: 30rem;
        border-radius: 3%;
    }
    p{
        width: 30rem;
    }
    h3{
        color: $color;
        padding: 1rem;
    }
}